cbor2==5.4.6
luma.core==2.4.2
luma.led-matrix==1.7.1
paho-mqtt==2.1.0
Pillow==10.3.0
pkg-resources==0.0.0
pyftdi==0.54.0
pyserial==3.5
pyusb==1.2.1
RPi.GPIO==0.7.1
smbus2==0.5.0
spidev==3.6
typing-extensions==4.7.1
